<main role="main">
        
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">What would you do with your life if you didn't have to work for money?</h1>
            <p>FI/RE is about maximizing your savings rate to achieve Financial Independence and have the freedom to Retire Early as fast as possible.</p>
            <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-6">
            <h2>What FI/RE is about</h2>
            <ul>
                <li>Discovering and achieving life goals: “What would I do with my life if I didn't have to work for money?"</li>
                <li>Simplifying and redesigning your lifestyle to reduce spending. Your wants and needs aren't written in stone, and less spending is powerful at any income level.</li>
                <li>Working to increase your income and income streams with projects, side-gigs, and additional effort</li>
                <li>Striving to save a large percentage (generally more than 50%) of your income to accelerate achieving FI</li>
                <li>Investing to make your money work for you, and learning to manage/optimize those investments for the unique nature of FI/RE</li>
                <li>Retiring Early</li>
            </ul>
            </div>
            <div class="col-md-6">
            <h2>What FI/RE is NOT about</h2>
            <ul>
                <li>Gaining wealth for the purpose of excessive consumption</li>
                <li>Taking the slow road, or the traditional road to retirement</li>
            </ul>
            </div>

        </div>
    </div> <!-- /container -->

</main>